@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --cor: #E0A449;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #E6E6E6;
}

span{
    color: var(--cor);
}

header{
    text-align: center;
    background-color: #e0a44967;
    min-height: 350px;
    min-width: 100px;
}

header > h1{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    max-width: 300px;
}

nav{
    padding: 30px 5px 10px 5px;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    min-width: 100px;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 5px 115px 5px 115px;
    display: inline-block;
}

nav > a:hover{
    text-decoration: underline;
    transition-duration: 0.5s;
}

nav > img{
    margin-right: -185px;
    padding: 0px;
    margin-bottom: -3px;
    width: 35px;
    display: inline-block;
}

.central{
    text-align: justify;
    font-weight: 500;
    margin-left: 70px;
}

.central:hover{
    text-decoration: none;
}

#entrar{
    padding-right: 5px;
}

#registro{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

#registro:hover{
    text-decoration: none;
    background-color: var(--cor);
    border: 1px solid var(--cor);
}

header > input{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.436);
    min-width: 400px;
    background-image: url(img/lupa.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

footer{
    padding: 10px;
    margin: auto;
    font-size: 0.8em;
    min-width: 100px;
    max-width: 100em;
}

footer > img{
    padding: 0px;
    margin-bottom: -3px;
    width: 35px;
    display: inline-block;
}

footer > a{
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
}

footer > p{
    display: inline-block;
    padding: 10px;
}

#ultimop{
    position: relative;
    left: 80%;
}

